In [80]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
from datetime import date, timedelta
import pprint

In [82]:
df = df = pd.read_csv('~/Dev/tvsquared-backend/tvsquared/tmp/cw/1009_current_all_data.csv')

dt_ts = pd.read_csv('~/Dev/tvsquared-backend/tvsquared/tmp/cw/client_1009_1_total_actions_per_day.csv')
dt_ts = pd.read_csv('~/Dev/tvsquared-backend/tvsquared/tmp/cw/client_1009_1_total_actions_per_day.csv')
dt_ts_sorted = dt_ts.sort_values(by="date")
print (dt_ts_sorted.dtypes)
dt_ts_sorted['date'] = pd.to_datetime(dt_ts_sorted['date'])
print (dt_ts_sorted.dtypes)
dictator = dt_ts_sorted.to_dict()
pprint.pprint (dictator)

Unnamed: 0        int64
date             object
total_per_day     int64
dtype: object
Unnamed: 0                int64
date             datetime64[ns]
total_per_day             int64
dtype: object
{'Unnamed: 0': {0: 0,
                1: 1,
                2: 2,
                3: 3,
                4: 4,
                5: 5,
                6: 6,
                7: 7,
                8: 8,
                9: 9,
                10: 10,
                11: 11,
                12: 12,
                13: 13,
                14: 14,
                15: 15},
 'date': {0: Timestamp('2017-09-05 00:00:00'),
          1: Timestamp('2017-08-31 00:00:00'),
          2: Timestamp('2017-09-01 00:00:00'),
          3: Timestamp('2017-08-27 00:00:00'),
          4: Timestamp('2017-09-04 00:00:00'),
          5: Timestamp('2017-08-28 00:00:00'),
          6: Timestamp('2017-08-21 00:00:00'),
          7: Timestamp('2017-08-24 00:00:00'),
          8: Timestamp('2017-08-22 00:00:00'),
          9: Timestamp('2017-08-29 00:00:00'),
          10: Timestamp('2017-09-03 00:00:00'),
          11: Timestamp('2017-08-25 00:00:00'),
          12: Timestamp('2017-08-30 00:00:00'),
          13: Timestamp('2017-08-23 00:00:00'),
          14: Timestamp('2017-08-26 00:00:00'),
          15: Timestamp('2017-09-02 00:00:00')},
 'total_per_day': {0: 62597,
                   1: 682032,
                   2: 615589,
                   3: 504541,
                   4: 500335,
                   5: 669463,
                   6: 667152,
                   7: 667342,
                   8: 662997,
                   9: 682039,
                   10: 495182,
                   11: 600879,
                   12: 640429,
                   13: 632231,
                   14: 485079,
                   15: 507644}}

In [32]:
df_trimmed =  df.drop(['Unnamed: 0','jobs', 'total_cost', 'total_time_in_queue', 
                         'total_time_under_calculation', 'total_time_waiting',
                         'total_time_waiting', 'total_time_under_calculation',
                         'total_cost','totalrowcount', 'spot_total', 
                         'spot_granularity_1', 
                         'workticket_scheduled', 'workticket_started', 'workticket_finished'], axis=1)
df_trimmed.head()

,brandid,clientid,cluster_info,diffuse,jobcount,jobpriority,lag,lag_actions,last_job,last_job_time,...,micro,modelrowcount,origin,rawsize,slug,spot_duration,spot_finish,spot_start,workticket_duration,workticketid
0,2,1009,{u'4': 1},False,40,1010.87,True,4,INF.SCRUBDB,5135.626,...,True,1823,US(2),502000000000,lending-tree,604800.0,2017-09-24 00:00:00.000,2017-09-18 00:00:00.000,122608.660,59cebd761248df056c8c085c
1,2,1009,{u'4': 1},False,41,5001.98,True,4,INF.SCRUBDB,5010.086,...,True,1661,US(2),502000000000,lending-tree,604800.0,2017-09-03 00:00:00.000,2017-08-28 00:00:00.000,65562.454,59b82c7e561f832c7ee87cba
2,2,1009,{u'4': 1},False,41,1008.88,True,4,INF.SCRUBDB,6343.018,...,True,1876,US(2),502000000000,lending-tree,604800.0,2017-08-27 00:00:00.000,2017-08-21 00:00:00.000,42198.699,59aee2dfb712c9041b3f1c91
3,2,1009,{u'4': 1},False,39,1009.01,True,4,INF.SCRUBDB,226.374,...,True,1830,US(2),502000000000,lending-tree,604800.0,2017-08-06 00:00:00.000,2017-07-31 00:00:00.000,212555.143,59c9b05bf55c740fa7923d86
4,2,1009,{u'4': 1},False,41,5001.98,True,4,INF.SCRUBDB,5010.086,...,True,120,US(2),502000000000,lending-tree,432000.0,2016-12-30 00:00:00.000,2016-12-26 00:00:00.000,61587.176,59b83c0f3b34c92fb48d10e8

In [33]:
mask = df_trimmed['cluster_info'].str.contains('clone', na=False)
rem_clones = df_trimmed[mask == False]
rem_clones

rename = rem_clones.rename(columns={'modelrowcount': 'total_number_of_spots'})
rename.dropna(subset=['slug'], inplace=True)

rename

,brandid,clientid,cluster_info,diffuse,jobcount,jobpriority,lag,lag_actions,last_job,last_job_time,...,micro,total_number_of_spots,origin,rawsize,slug,spot_duration,spot_finish,spot_start,workticket_duration,workticketid
0,2,1009,{u'4': 1},False,40,1010.87,True,4,INF.SCRUBDB,5135.626,...,True,1823,US(2),502000000000,lending-tree,604800.0,2017-09-24 00:00:00.000,2017-09-18 00:00:00.000,122608.660,59cebd761248df056c8c085c
1,2,1009,{u'4': 1},False,41,5001.98,True,4,INF.SCRUBDB,5010.086,...,True,1661,US(2),502000000000,lending-tree,604800.0,2017-09-03 00:00:00.000,2017-08-28 00:00:00.000,65562.454,59b82c7e561f832c7ee87cba
2,2,1009,{u'4': 1},False,41,1008.88,True,4,INF.SCRUBDB,6343.018,...,True,1876,US(2),502000000000,lending-tree,604800.0,2017-08-27 00:00:00.000,2017-08-21 00:00:00.000,42198.699,59aee2dfb712c9041b3f1c91
3,2,1009,{u'4': 1},False,39,1009.01,True,4,INF.SCRUBDB,226.374,...,True,1830,US(2),502000000000,lending-tree,604800.0,2017-08-06 00:00:00.000,2017-07-31 00:00:00.000,212555.143,59c9b05bf55c740fa7923d86
4,2,1009,{u'4': 1},False,41,5001.98,True,4,INF.SCRUBDB,5010.086,...,True,120,US(2),502000000000,lending-tree,432000.0,2016-12-30 00:00:00.000,2016-12-26 00:00:00.000,61587.176,59b83c0f3b34c92fb48d10e8
5,2,1009,{u'4': 1},False,41,1008.98,True,4,INF.SCRUBDB,6343.018,...,True,1961,US(2),502000000000,lending-tree,604800.0,2017-08-27 00:00:00.000,2017-08-21 00:00:00.000,42177.458,59af0a96561f83042d5d64fc
6,2,1009,{u'4': 1},False,40,1010.87,True,4,INF.SCRUBDB,5135.626,...,True,1723,US(2),502000000000,lending-tree,604800.0,2017-09-10 00:00:00.000,2017-09-04 00:00:00.000,122307.715,59cebe9d1248df67c88c0888
7,2,1009,{u'4': 1},False,40,1010.87,True,4,INF.SCRUBDB,5135.626,...,True,1932,US(2),502000000000,lending-tree,604800.0,2017-09-17 00:00:00.000,2017-09-11 00:00:00.000,122202.696,59cebf0db44d6f53adb7bdb3
8,2,1009,{u'4': 1},False,40,5003.00,True,4,INF.SCRUBDB,11044.039,...,True,1932,US(2),502000000000,lending-tree,604800.0,2017-09-17 00:00:00.000,2017-09-11 00:00:00.000,291169.676,59d2789b830bd8042cede23d

In [34]:
rename['spot_start'] = pd.to_datetime(rename['spot_start'])
rename['spot_finish'] = pd.to_datetime(rename['spot_finish'])
# rename['spot_finish'] = pd.to_datetime([rename['spot_finish'])

print (rename.dtypes)

brandid                           int64
clientid                          int64
cluster_info                     object
diffuse                            bool
jobcount                          int64
jobpriority                     float64
lag                                bool
lag_actions                       int64
last_job                         object
last_job_time                   float64
max_lag                           int64
micro                              bool
total_number_of_spots             int64
origin                           object
rawsize                           int64
slug                             object
spot_duration                   float64
spot_finish              datetime64[ns]
spot_start               datetime64[ns]
workticket_duration             float64
workticketid                     object
dtype: object

In [95]:
d1 = pd.Series(rename['spot_start'])
print("d1", d1)
d2 = pd.Series(rename['spot_finish'])
print('d2', d2)
day_list = []

dd = [d1[2] + timedelta(days=x) for x in range((d2[2]-d1[2]).days + 1)]

for d in dd:
    day_list.append(d)
    
print day_list


session_spots = 0

for x in day_list:
    for y in dictator['date']:
        if (x == dictator['date'][y]):
            print dictator['total_per_day'][y]
            session_spots += dictator['total_per_day'][y]
print session_spots

('d1', 0   2017-09-18
1   2017-08-28
2   2017-08-21
3   2017-07-31
4   2016-12-26
5   2017-08-21
6   2017-09-04
7   2017-09-11
8   2017-09-11
Name: spot_start, dtype: datetime64[ns])
('d2', 0   2017-09-24
1   2017-09-03
2   2017-08-27
3   2017-08-06
4   2016-12-30
5   2017-08-27
6   2017-09-10
7   2017-09-17
8   2017-09-17
Name: spot_finish, dtype: datetime64[ns])
[Timestamp('2017-08-21 00:00:00'), Timestamp('2017-08-22 00:00:00'), Timestamp('2017-08-23 00:00:00'), Timestamp('2017-08-24 00:00:00'), Timestamp('2017-08-25 00:00:00'), Timestamp('2017-08-26 00:00:00'), Timestamp('2017-08-27 00:00:00')]
667152
662997
632231
667342
600879
485079
504541
4220221

In [49]:
test[0]

Timestamp('2017-09-18 00:00:00')

In [ ]:
d1