In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
from datetime import date

In [6]:
df = df = pd.read_csv('~/Dev/tvsquared-backend/tvsquared/tmp/cw/1009_current_all_data.csv')

dt_ts = pd.read_csv('~/Dev/tvsquared-backend/tvsquared/tmp/cw/client_1009_1_total_actions_per_day.csv')
dt_ts = pd.read_csv('~/Dev/tvsquared-backend/tvsquared/tmp/cw/client_1009_1_total_actions_per_day.csv')
dt_ts_sorted = dt_ts.sort_values(by="date")
print (dt_ts_sorted.dtypes)
dt_ts_sorted['date'] = pd.to_datetime(dt_ts_sorted['date'])
print (dt_ts_sorted.dtypes)
dt_ts_sorted

Unnamed: 0        int64
date             object
total_per_day     int64
dtype: object
Unnamed: 0                int64
date             datetime64[ns]
total_per_day             int64
dtype: object

    Unnamed: 0       date  total_per_day
6            6 2017-08-21         667152
8            8 2017-08-22         662997
13          13 2017-08-23         632231
7            7 2017-08-24         667342
11          11 2017-08-25         600879
14          14 2017-08-26         485079
3            3 2017-08-27         504541
5            5 2017-08-28         669463
9            9 2017-08-29         682039
12          12 2017-08-30         640429
1            1 2017-08-31         682032
2            2 2017-09-01         615589
15          15 2017-09-02         507644
10          10 2017-09-03         495182
4            4 2017-09-04         500335
0            0 2017-09-05          62597

In [7]:
df_trimmed =  df.drop(['Unnamed: 0','jobs', 'total_cost', 'total_time_in_queue', 
                         'total_time_under_calculation', 'total_time_waiting',
                         'total_time_waiting', 'total_time_under_calculation',
                         'total_cost','totalrowcount', 'spot_total', 
                         'spot_granularity_1', 
                         'workticket_scheduled', 'workticket_started', 'workticket_finished'], axis=1)
df_trimmed.head()

,brandid,clientid,cluster_info,diffuse,jobcount,jobpriority,lag,lag_actions,last_job,last_job_time,...,micro,modelrowcount,origin,rawsize,slug,spot_duration,spot_finish,spot_start,workticket_duration,workticketid
0,2,1009,{u'4': 1},False,40,1010.87,True,4,INF.SCRUBDB,5135.626,...,True,1823,US(2),502000000000,lending-tree,604800.0,2017-09-24 00:00:00.000,2017-09-18 00:00:00.000,122608.660,59cebd761248df056c8c085c
1,2,1009,{u'4': 1},False,41,5001.98,True,4,INF.SCRUBDB,5010.086,...,True,1661,US(2),502000000000,lending-tree,604800.0,2017-09-03 00:00:00.000,2017-08-28 00:00:00.000,65562.454,59b82c7e561f832c7ee87cba
2,2,1009,{u'4': 1},False,41,1008.88,True,4,INF.SCRUBDB,6343.018,...,True,1876,US(2),502000000000,lending-tree,604800.0,2017-08-27 00:00:00.000,2017-08-21 00:00:00.000,42198.699,59aee2dfb712c9041b3f1c91
3,2,1009,{u'4': 1},False,39,1009.01,True,4,INF.SCRUBDB,226.374,...,True,1830,US(2),502000000000,lending-tree,604800.0,2017-08-06 00:00:00.000,2017-07-31 00:00:00.000,212555.143,59c9b05bf55c740fa7923d86
4,2,1009,{u'4': 1},False,41,5001.98,True,4,INF.SCRUBDB,5010.086,...,True,120,US(2),502000000000,lending-tree,432000.0,2016-12-30 00:00:00.000,2016-12-26 00:00:00.000,61587.176,59b83c0f3b34c92fb48d10e8

In [8]:
mask = df_trimmed['cluster_info'].str.contains('clone', na=False)
rem_clones = df_trimmed[mask == False]
rem_clones

rename = rem_clones.rename(columns={'modelrowcount': 'total_number_of_spots'})
rename.dropna(subset=['slug'], inplace=True)

rename

,brandid,clientid,cluster_info,diffuse,jobcount,jobpriority,lag,lag_actions,last_job,last_job_time,...,micro,total_number_of_spots,origin,rawsize,slug,spot_duration,spot_finish,spot_start,workticket_duration,workticketid
0,2,1009,{u'4': 1},False,40,1010.87,True,4,INF.SCRUBDB,5135.626,...,True,1823,US(2),502000000000,lending-tree,604800.0,2017-09-24 00:00:00.000,2017-09-18 00:00:00.000,122608.660,59cebd761248df056c8c085c
1,2,1009,{u'4': 1},False,41,5001.98,True,4,INF.SCRUBDB,5010.086,...,True,1661,US(2),502000000000,lending-tree,604800.0,2017-09-03 00:00:00.000,2017-08-28 00:00:00.000,65562.454,59b82c7e561f832c7ee87cba
2,2,1009,{u'4': 1},False,41,1008.88,True,4,INF.SCRUBDB,6343.018,...,True,1876,US(2),502000000000,lending-tree,604800.0,2017-08-27 00:00:00.000,2017-08-21 00:00:00.000,42198.699,59aee2dfb712c9041b3f1c91
3,2,1009,{u'4': 1},False,39,1009.01,True,4,INF.SCRUBDB,226.374,...,True,1830,US(2),502000000000,lending-tree,604800.0,2017-08-06 00:00:00.000,2017-07-31 00:00:00.000,212555.143,59c9b05bf55c740fa7923d86
4,2,1009,{u'4': 1},False,41,5001.98,True,4,INF.SCRUBDB,5010.086,...,True,120,US(2),502000000000,lending-tree,432000.0,2016-12-30 00:00:00.000,2016-12-26 00:00:00.000,61587.176,59b83c0f3b34c92fb48d10e8
5,2,1009,{u'4': 1},False,41,1008.98,True,4,INF.SCRUBDB,6343.018,...,True,1961,US(2),502000000000,lending-tree,604800.0,2017-08-27 00:00:00.000,2017-08-21 00:00:00.000,42177.458,59af0a96561f83042d5d64fc
6,2,1009,{u'4': 1},False,40,1010.87,True,4,INF.SCRUBDB,5135.626,...,True,1723,US(2),502000000000,lending-tree,604800.0,2017-09-10 00:00:00.000,2017-09-04 00:00:00.000,122307.715,59cebe9d1248df67c88c0888
7,2,1009,{u'4': 1},False,40,1010.87,True,4,INF.SCRUBDB,5135.626,...,True,1932,US(2),502000000000,lending-tree,604800.0,2017-09-17 00:00:00.000,2017-09-11 00:00:00.000,122202.696,59cebf0db44d6f53adb7bdb3
8,2,1009,{u'4': 1},False,40,5003.00,True,4,INF.SCRUBDB,11044.039,...,True,1932,US(2),502000000000,lending-tree,604800.0,2017-09-17 00:00:00.000,2017-09-11 00:00:00.000,291169.676,59d2789b830bd8042cede23d

In [13]:
rename['spot_start'] = pd.to_datetime(rename['spot_start'])
rename['spot_finish'] = pd.to_datetime(rename['spot_finish'])
# rename['spot_finish'] = pd.to_datetime([rename['spot_finish'])

print (rename.dtypes)

brandid                           int64
clientid                          int64
cluster_info                     object
diffuse                            bool
jobcount                          int64
jobpriority                     float64
lag                                bool
lag_actions                       int64
last_job                         object
last_job_time                   float64
max_lag                           int64
micro                              bool
total_number_of_spots             int64
origin                           object
rawsize                           int64
slug                             object
spot_duration                   float64
spot_finish              datetime64[ns]
spot_start               datetime64[ns]
workticket_duration             float64
workticketid                     object
dtype: object

In [18]:
test = pd.Series(rename['spot_start'])